[Unit]
Description=Redis instance %i
After=network.target
Requires=redis.service
Before=redis.service
BindsTo=redis.service

[Service]
ExecStart=/usr/bin/redis-server /etc/redis/instances/%i.conf --daemonize no
ExecStop=/usr/libexec/redis-shutdown redis@%i
User=redis
Group=redis
RuntimeDirectory=redis
RuntimeDirectoryMode=0755

[Install]
WantedBy=redis.service
