[Unit]
Description=Redis
After=network.target
Requires=redis.service
Before=redis.service
BindsTo=redis.service

[Service]
Type=simple
User=redis
Group=redis
PrivateTmp=true
PIDFile=/var/run/redis/%i.pid
ExecStart=/usr/bin/redis-server /etc/redis/instances/%i.conf
Restart=on-failure

[Install]
WantedBy=redis.service